QMainWindow{
    background-color: white;
}

QLabel{
    color: #7D2FA0;
}

QPushButton{
    background-color: #14971F;
    border: 1px solid #14971F;
    border-radius: 25px;;
}

QLineEdit{
    background-color: white;
    border: 1px solid black;
    color: black;
}

QFileDialog{
    background-color: black;
}

QProgressBar {
    text-align: center;
    color: black;
    background-color: white;
    border: 1px solid #7D2FA0;
}
QProgressBar::chunk {
    border-radius: 6px;
    background-color: #009688;
}